<div id="<%= dom_id administrator %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= administrator.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= administrator.email %>
  </p>
</div>
